# Python
__pycache__/
*.pyc
*.pyo

# Environnements virtuels
venv/
.env

# Fichiers de logs
logs/
*.log

# Fichiers de sortie
results/
models/
*.h5
*.pkl

# Jupyter Notebook
.ipynb_checkpoints/

# Datasets lourds
data/*.csv
